/*The div,container,and row colors don't need to be showed*/
 /*div {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    padding: 30px;
}
*/

/*
.container {
    border-color: blue;
}
*/

/*
.row {
    border-color: red;
}
*/

/*The border, margin-top, and margin-bottom*/
.list-group-item {
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*The images' width and height*/
img {
    width: 700px;
    height: auto;
}

/*The body, #index2, #index3, and #index4 are the same color background*/ 
body {
    background-image: url("http://a57.foxnews.com/global.fncstatic.com/static/managed/img/Scitech/876/493/The%20Everything%20Store%20cover.jpg?ve=1&tl=1");
}

a {
    color: white;
    width: auto;
}

#index2 {
    background-image: url("http://a57.foxnews.com/global.fncstatic.com/static/managed/img/Scitech/876/493/The%20Everything%20Store%20cover.jpg?ve=1&tl=1");                     
}

#index3 {
    background-image: url("http://a57.foxnews.com/global.fncstatic.com/static/managed/img/Scitech/876/493/The%20Everything%20Store%20cover.jpg?ve=1&tl=1");
}

#index4 {
    background-image: url("http://a57.foxnews.com/global.fncstatic.com/static/managed/img/Scitech/876/493/The%20Everything%20Store%20cover.jpg?ve=1&tl=1");
}

iframe {
    width: 600px;
    height: 180px;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-left: 20px;
    margin-right: 20px;
}