/*The div,container,and row colors don't need to be showed*/
 /*div {
    border-style: solid;
    border-width: 5px;
    border-color: green;
    padding: 30px;
}
*/

/*
.container {
    border-color: blue;
}
*/

/*
.row {
    border-color: red;
}
*/

/*The border, margin-top, and margin-bottom*/
.list-group-item {
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*The images' width and height*/
img {
    width: 700px;
    height: auto;
}

/*The body, #index2, and #index3 are the same color background*/ 
body {
    background-image: url("");
}

a {
    color: white;
    width: auto;
}

#index2 {
    background-image: url("");                     
}

#index3 {
    background-image: url("");
}